a {
    color:#8f2723;
}
a:hover {
    color:#541715;
}
body {
    font-size:1em;
}
#imglogo {
    width: 200px!important;
    margin: 15px;
}
#ingresarform {
    background:#eee;
}
#exampleCheck1 {
    margin-left:0px;
}
#misdatos {
    background:#eee;
}
#micuenta {
    background:#eee;
}
#descargas {
    background:#eee;
}
.w-screen {
    width:100%;
    height:175px;
    background-image: url("/img/imgheader1.jpg")!important;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.fas {
    margin-right:10px!important;
    /*font-size:1em;*/
}
.btn-primary {
    border: none;
    background: #8f2723;
}
.btn-primary:hover {
    border: none;
    background:#541715;
    cursor:pointer!important;
}
.btn-light {
    border: 1px solid #fff;
    color: #ddd;
}
.btn-light:hover {
    background:#fff;
    color:#333;
}
.btn-link {
    color:#8f2723!important;
    /*font-weight: bold;*/
}
.btn-link:hover {
    color:#541715!important;
    cursor:pointer!important;
}
.card-body {
    padding: 20px!important;
    /*background:#999;*/
}
.red {
    background: #8f2723!important;
}
.blanco {
    color: #fff!important;
}
.card-footer {
    background: #ddd;
    border: none;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238f2723' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238f2723' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

html, body {
            position:absolute;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.card-background {
    background:#eee;
}
.card-header {
    background:#ddd!important;
}
.footer {
    color:#ddd!important;
    background:#222;
}
.blanca {
    display:block;
    border-color:#fff!important;
}
.footer-noticias {
    color:#ddd;
    font-weight:bold;
}
.footer-noticias:hover {
    color:#fff;
}
.rojo {
    color:#8f2723;
}
.movil {
    font-weight:bold;
} 